    img{
    	width: 200px;
    }
    input[type = 'text'] {
        width: 80%;
    padding: 12px 14px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    border: 2px solid;
    border-color:#bebec8;
    outline-width: 1;
    }
    textarea {
    width: 90%;
    padding: 12px 14px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}
button {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    white-space: nowrap;
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    color: white;
    background-color: #336b8f;
    cursor: pointer;
    border:none;
    outline: none;
    border-bottom: 5px solid #193a50;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: none 125ms ease-out;
    -webkit-transition-delay: 0;
    -moz-transition: none 125ms ease-out 0;
    -o-transition: none 125ms ease-out 0;
    transition: none 125ms ease-out 0;
    padding: 10px 55px;
    margin-right: 5px;
}
button:active {
    vertical-align: top;
    margin-top: 5px;
    padding: 10px 55px 10px;
    border-bottom: 0px solid #336b8f;
}
    label{
        display: block;
    font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 16px;
    line-height: 20px;
/*    text-transform: uppercase;*/
    color: #4e4e4d;
    margin-top: 15px;
    }
